name: Deploy API
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/wialon-billing-api
            git fetch origin
            git reset --hard origin/main
            cd /root
            flock -x /tmp/docker-compose.lock -c "docker-compose up -d --build --remove-orphans api"
